<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gracecode.iZhihu"
          android:versionCode="201307301"
          android:versionName="1.6.3">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:theme="@style/Theme.Light"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5187601e56240b9efd05f7e8"
                />

        <activity
                android:name=".activity.Main"
                android:label="@string/app_name"
                android:hardwareAccelerated="true"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.Detail"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.Comment"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.Preference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.About">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.ipaulpro.afilechooser.FileChooserActivity"
                android:exported="false">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.GET_CONTENT"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.OPENABLE"/>-->
            <!--<data android:mimeType="font/opentype"/>-->
            <!--</intent-filter>-->
        </activity>

        <service
                android:name=".service.FetchThumbnailsService"
                android:icon="@drawable/ic_launcher"
                android:label="@string/enable_cache_summary"
                >
        </service>

        <service
                android:name="com.umeng.common.net.DownloadingService"
                android:exported="true"
                android:process=":DownloadingService">
        </service>
    </application>
</manifest>
