/* vim: set et sw=4 ts=4 sts=4 ft=css fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * @author mingcheng<lucky#gracecode.com>
 * @date   2013-05-03
 * @link   http://www.gracecode.com/
 */

@font-face {
    font-family: XinGothic;
    src: url(XinGothic.otf);
}

* {
    font-weight: normal;
}

body {
    font-family: XinGothic;
    background: #F6F3EF;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    color: #333;
    padding: 1em;
    line-height: 1.5em;
}

a {
    color: #111;
    text-decoration:none;
    border-bottom: 1px dotted #333;
}

u, underline {
         text-decoration:none;
          border-bottom: 1px solid #777;
}

ul, ol {
    margin: 0;
    padding: 5px 0;
    list-style-position: inside;
}

p {
    color: inherit;
    text-rendering: optimizeLegibility;
}

sup {
    border-left: 2px solid #999;
    padding: 5px 0 5px 10px;
    display: block;
    vertical-align: baseline;
    font-size: 100%;
}

sup img {
    max-width: 280px;
}

blockquote {
    margin: 10px 0;
    padding-left: 10px;
    border-left: 2px solid #999;
    font-size: 90%;
    color: #666;
}



hr {
    margin: 0;
    border-width: 0;
}


body a,
body a:hover,
body a:active {
    text-decoration: none;
}


body .question h1 {
    font-size: 1.1em;
    color: #111;
    margin: 0 0 1em 0;
}

body .question {
    word-wrap: break-word;
}

body .question p {
    line-height: 1.6em;
    margin: 0 0 1.5em 0;
}

body .question img {
    max-width: 95%;
    border: 1px solid #ccc;
    padding: .2em;
    background: #fff;
    display: block;
    margin: .5em auto;
    border-radius: 3px;
}

body .question img {
}

body .question a,
body .question a:link {
    border-bottom: 1px dotted #999;
    white-space: wrap-all;
}

.question_description {
    color: #777;
    padding: 0em;
    font-size: .9em;
    line-height: 1.5em;
}

.user_name {
    border-top: 1px solid #ccc;
    padding: .5em 0 2em 0;
    font-size: small;
    color: #777;
    margin-bottom: -58px;
}

.update-at {
    border-top: 1px dotted #ccc;
    padding: .5em 0 3em 0;
    font-size: small;
    text-align: right;
    color: #ccc;
    display: block;
}

.end {
    width: 113px;
    height: 40px;
    background: url(izhihu.png) no-repeat center;
    margin: 3em auto 1em auto;
    background-size: 113px 40px;
    opacity: .9;
}


.about {
}

.about .end {
    margin: 1em auto 2em;
}

.about h1 ,
.about h2 ,
.about h3 {
    font-weight: normal;
}

.about h1 {
    font-size: 1.3em;
}

.about h2 {
    font-size: 1.2em;
}

.about h3 {
    font-size: 1.1em;
}

.about h2,
.about h3 {
    margin: 1em 0 1em 0;
}

.about  p {
    text-align: justify;
}

.about center p {
    text-align: center;
}

.about h4 {
    margin: 1.5em auto .5em;
}

.about ul {
    list-style: square;
    margin-left:  1.5em;
}

.about dl {
    margin-left: 1em;
}

.about dd {
    margin:  .5em 0 .5em 1em;
}

.indent p {
    text-indent: 1em;
}

.tiny {
    font-size: 12px;
}

.small {
    font-size: 16px;
}

.normal {
    font-size: 18px;
}

.big {
    font-size: 20px;
}

.huge {
    font-size: 22px;
}

